
/* -- CucDots swaync config -- */

/* ============================================ */
/* ИМПОРТ ЦВЕТОВ */
/* ============================================ */
@import 'home/cuc/.config/wallust/colors.css';


/* ============================================ */
/* ОПРЕДЕЛЕНИЕ СОБСТВЕННЫХ ЦВЕТОВ */
/* ============================================ */
@define-color fg  @green;
@define-color bg  @light_green;
@define-color bga @light_blue;
@define-color tt  @black;
@define-color tta @rosewater;
@define-color sel @light_red;


/* ============================================ */
/* АНИМАЦИЯ ПОЯВЛЕНИЯ */
/* ============================================ */

/* Плавное появление */
@keyframes fadeIn {
    0% {
        padding-left:20;
        margin-left:50;
        margin-right:50;
    }

    100% {
        padding:0;
        margin:0;
    }
}

/* Скольжение */
@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.floating-notifications .notification{
    animation: fadeIn .5s ease-in-out;
}


/* ============================================ */
/* ОБЩИЕ НАСТРОЙКИ */
/* ============================================ */

* {
    border: 1px solid @bga;
    border-radius: 15px;

    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold;

    outline:none;
    box-shadow: none;
}

.notification,
.notification-center {
    background: @bg;
    border: 0px;
}

/* ============================================ */
/* ОБЩИЕ НАСТРОЙКИ */
/* ============================================ */
.control-center,
.control-center-list,
.control-center-list-placeholder {
}

.notification-row,
.notification-row:hover,
.notification-row:focus {
    margin-right: 15px;
}
